# Ignore all files in model directories except their README.md
models/monocular_deployed/*
!models/monocular_deployed/README.md

models/monocular_deployed_gpu/*
!models/monocular_deployed_gpu/README.md

models/monocular_keras/*
!models/monocular_keras/README.md
